:root {
  --primary-color: #f1c0c4;
  --secondary-color: white;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #fffbf6;
}

h1,
h3 {
  margin: 0;
  font-family: "Playfair", serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 80px;
  font-family: "Cormorant Garamond", serif;
}

h3 {
  font-size: 32px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Karla", sans-serif;
}
/*Navbar*/
.logo {
  max-width: 150px;
}
.logo-small {
  max-width: 150px;
  max-height: 72px;
  height: auto;
  width: auto;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  font-family: "Karla", sans-serif;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

li a:hover,
nav li.active a {
  opacity: 0.7;
  color: var(--primary-color);
}

/*Homepage*/
.hero,
.content-container {
  padding: 160px 80px;
}
.name-hero {
  font-family: "Cormorant Garamond", serif;
  font-size: 84px;
  margin-bottom: 50px;
}

.hero-link {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 26px;
}

.hero-link a {
  margin: 20px;
  border-radius: 15px;
  padding: 10px 30px;
  text-decoration: none;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.primary-link:hover {
  background: #fffbf6;
  color: var(--primary-color);
  transition: all ease-in-out;
}
.btn-branding-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 24px;
  font-family: "Nanum Pen Script", cursive;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-branding-outline:hover {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.project-description {
  padding: 70px 30px;
}
/*Contact*/
.links {
  color: var(--primary-color);
}
.content-container h3 {
  text-transform: capitalize;
  font-family: "Playfair", serif;
}
.small-text {
  font-family: "Nanum Pen Script", cursive;
  opacity: 0.7;
}
p a {
  color: black;
  text-decoration: none;
  font-family: "Playfair", serif;
}
p a:hover {
  opacity: 0.7;
}
/*About section*/

.content h1 {
  font-size: 50px;
  line-height: 1;
}
.content h2 {
  font-size: 40px;
}
.content h3 {
  line-height: 1.5;
  margin-top: 20px;
}
.content {
  margin: 30px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: #fff2f3;
  padding: 10px 18px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

/*Footer*/
footer p {
  font-family: "Playfair", serif;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 50px;
  }

  .project-description {
    text-align: center;
  }
  .content-container {
    padding: 0;
    text-align: center;
  }
  .photo-me {
    height: 400px;
    width: 275px;
  }
}
